* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: pectia;
  src: url(../Pecita.otf);
}

html {
  font-size: 15px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.body1 {
  background-image: url(../img/bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.body2 {
  background: url(../img/bg-2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}


.container {
  width: 90%;
  margin: 0 auto;
  /* min-width: 1000px; */
  padding-top: 2em;
}

.primaryColor {
  color: #f1a77b;
  font-weight: 900;
}

button {
  border: none;
  color: white;
  width: 13%;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  margin-top: 2em;
  border-radius: 50px;
  cursor: pointer;
  background-color: rgba(241, 167, 123, 0.6);
}

button:hover {
  background-color: rgba(241, 167, 123, 0.9);
  color: black;
}
button:focus {
  outline: none;
}
/* ==============Home page=====
===========
===========
===========
========= */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 10%;
}

#menu-content{
  display: none;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin-left: 6em;
}

nav a {
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  color: white;
  letter-spacing: 0.1em;
}

#section-2 {
  display: flex;
  justify-content: space-between;
  margin-top: 8em;
  align-items: center;
}

.text {
  color: #f1a77b;
  font-size: 4rem;
  letter-spacing: 0.1em;
  line-height: 1.6em;
  width: 70%;
  font-weight: 300;
}

.btn {
  height: 210px;
  border: none;
  width: 80px;
  background: #f1a77b;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: pectia;
  border-radius: 50px;
}

#btn-hor {
  margin-left: 10px;
  transform: rotate(-90deg);
  width: 100%;
  font-size: 2.2rem;
  letter-spacing: 0.3em;
  line-height: 2em;
}

#btn-out {
  width: 1%;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  background: #f1a77b;
  opacity: 0.5;
  position: absolute;
  right: 0;
}

.rect {
  height: 50px;
  width: 90%;
  left: 5%;
  bottom: 0px;
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#rect-1 {
  background: #f1a77b;
  opacity: 0.5;
  width: 70%;
  height: 15px;
  border-top-left-radius: 50px;
}
#rect-2 {
  background: #f1a77b;
  width: 30%;
  height: 15px;
  border-top-right-radius: 50px;
}

/* ==============About page=====
===========
===========
===========
========= */

.section {
  display: flex;
  margin-top: 12em;
  justify-content: space-between;
  align-items: stretch;
}

.text-abt {
  text-align: center;
  color: #fbede5;
  font-size: 2.5rem;
  letter-spacing: 5px;
  line-height: 2.5em;
  width: 70%;
  font-weight: 100;
}

#btn-out2 {
  width: 1%;
  /* height: 300px; */
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  background: #f1a77b;
}
#btn-out1 {
  width: 1%;
  /* height: 300px; */
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  background: #f1a77b;
  opacity: 0.5;
}

#btn-abt {
  display: flex;
  justify-content: center;
}

/* ==============contact page=====
===========
===========
===========
========= */

.section-con {
  display: flex;
  margin-top: 8em;
  justify-content: space-between;
  align-items: stretch;
  /* background-color: aliceblue; */
}

.form-group {
  background: rgb(105, 94, 82);
  width: 20%;
  padding: 2em 1.5em;
  border-radius: 20px;
  height: 100%;
  text-align: center;
}

.form-field {
  margin-top: 0.5em;
}

input {
  width: 100%;
  margin-top: 1em;
  padding: 1.5em 2em;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

::placeholder {
  color: #f1a77b;
  font-size: 1rem;
  font-weight: 400;
}

.input-outline:focus {
  outline: none;
  color: white;
}

.message textarea {
  color: #f1a77b;
  width: 100%;
  margin-top: 1em;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 1.5em 2em;
  resize: none;
  font-size: 1rem;
  font-weight: 400;
}

#button-con {
  width: 60%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-top: 1.8em;
  background-color: rgba(241, 167, 123, 0.8);
}

#btn-out3 {
  width: 1%;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  background: #f1a77b;
}

#btn-out4 {
  width: 1%;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  background-color: rgba(241, 167, 123, 0.5);
}

#rect-3 {
  background: #f1a77b;
  opacity: 0.5;
  width: 22.25%;
  height: 15px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

/* ==============media=====
===========
===========
===========
========= */

@media (min-width: 1900px) {
  html {
    font-size: 20px;
  }

  .btn {
    height: 310px;
    width: 110px;
  }
}


@media (max-width: 430px) {
  /* ==============Nav bar=====
    ===========
  ===========
  ===========
  ========= */
  a{
    text-decoration: none;
  }

  header {
    transition: 0.3s ease-in-out;
  }

  nav li{
    display: none;
  }

  #menu{
    cursor: pointer;
  }

  #menu div {
    height: 3px;
    width: 25px;
    background-color: #f1a77b;
    border-radius: 100px;
    margin-bottom: 4px;
    transition: 0.3s ease-in;
  }

  #menu.open .line1 {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  #menu.open .line2 {
    visibility: hidden;
  }
  
  #menu.open .line3 {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  #menu-content {
    background-color: #0000009c;
    display:  flex;
    align-content: center;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    transform: translateY(-100000px);
    transition: 0.3s ease-in-out;
    height: 16%;
  }
  
  #menu-content.open {
    transform: translateY(0);
  }
  
  #nav.open {
    background-color: #0000009c;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
  }

  #menu-content li {
    text-align: center;
    padding: 1em 0;
    transition: 0.7s ease-in-out;
    cursor: pointer;
    list-style: none;
    color: wheat;
    font-size: 2rem;
    border-top: 1px solid #f1a67b36;
  }

  #menu-content li:hover {
    background-color: #f1a77b;
    color: white;
    font-weight: 400;
  }







  /* ==============Home page=====
    ===========
  ===========
  ===========
  ========= */


  html {
      font-size: 6px;
  }

  .container{
      padding-top: 5em;
      width: 80%;
      margin: 0 auto;
  }

  .btn{
      display: none;
  }

  #btn-hor{
      display: none;
  }

  #btn-out{
      display: none;
  }

  #section-2{
      flex-direction: column;
      justify-content: center;
  }

  .text{
      text-align: center;
      margin-top: 3em;
      font-size: 5rem;
      width: 100%;
  }


  #btn-abt {
      display: flex;
      justify-content: center;
      margin-top: 2em;
  }

  #btn-abt1 {
      display: flex;
      justify-content: center;
      margin-top: 2em;
  }

  .rect {
      bottom: 10%;
      width: 80%;
      left: 10%;
  }

  #rect-2 {
      width: 100%;
      border-radius: 50px;
  }

  #rect-1 {
      width: 0%;
  }

  button {
      width: 30%;
      font-size: 2rem;
  }


  /* ==============about page=====
    ===========
  ===========
  ===========
  ========= */

  .section {
      margin-top: 25em;
  }

  .text-abt {
      font-size: 3rem;
      letter-spacing: 4px;
      line-height: 1.8em;
      width: 80%;
  }

  /* ==============contact page=====
    ===========
  ===========
  ===========
  ========= */


  .section-con {
      margin-top: 15em;
  }
    
  .form-group {
      width: 45%;
  }
      
  .form-field {
      margin-top: 0.5em;
  }
    
  input {
      margin-top: 1em;
      padding: .6em 1em;
      border: none;
      background: rgba(255, 255, 255, 0.2);
  
  }
    
  ::placeholder {
      color: #f1a77b;
      font-size: 1.5rem;
      font-weight: 400;
  }
    
      
  .message textarea {
      color: #f1a77b;
      width: 100%;
      margin-top: 1em;
      border: none;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 20px;
      padding: .6em 1em;
      font-size: 1.5rem;
      font-weight: 400;
  }
    
  #button-con {
      width: 60%;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      margin-top: 1.8em;
      background-color: rgba(241, 167, 123, 0.8);
  }
      
  #rect-3 {
      display: none;
  }
  
  #rect-33 {
      margin-bottom: 15%;
      background: #f1a77b;
      width: 50%;
      height: 15px;
      border-radius: 50px;
  }

}